* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#app {
  position: relative;
  max-width: 80rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(2, 20rem) auto;
  gap: 2rem;
}

/* MESSAGE */
.msg {
  width: 200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}
.msg--success {
  color: #1fdf39;
  background-color: #c3e7a4;
}

.msg--alert {
  color: #d31c4a;
  background-color: #f19ba6;
}

/* SUMMARY */
.summary {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#month-selector {
  font-size: 1.1rem;
  margin-right: 2.5rem;
}

.total {
  color: #666;
  font-size: 0.8rem;
}

.summary__label {
  font-size: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 2;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type,
.movements__category {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__time {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__category {
  margin-left: 2rem;
  background-image: linear-gradient(to top left, #e2df40, #dfdb13);
}

.movements__type--0 {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--1 {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__amount {
  font-size: 1.7rem;
  margin-left: auto;
}

.add {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--addMov {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--addCategory {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem;
}
